.card-home {
  color: white;
  display: flex;
  align-items: center;
  border-radius: 20px;
  font-size: 1vw;
  padding: 1rem;
  gap: 1rem;
}

.container-texto-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.container-texto-card p {
  text-indent: 1rem;
}

.primeiro-card {
  width: 90%;
  align-self: start;
}

.segundo-card {
  width: 70%;
  align-self: end;
}

.terceiro-card {
  width: 80%;
  align-self: center;
}

.card-home-invertido {
  flex-direction: row-reverse;
}

.card_vermelho {
  background-color: #bc3c3c;
}
.card_cinza {
  background-color: #7e8397;
}

.imagem-card-grande {
  height: 300px;
}
.imagem-card-medio {
  height: 200px;
}

.imagem-card-pequeno {
  height: 150px;
}
