.card-container {
  display: flex;
  gap: 20px;
}

.card-container > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.card-item {
  background: white;
  border-radius: 10px;

  width: fit-content;
  /* Largura fixa para cada item */
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin: auto;
}

.card-item:hover {
  transform: translateY(-5px);
}

.card-item {
  width: fit-content;
  height: 280px;

  object-fit: contain;
  margin-bottom: 10px;
}

img {
  width: 250px;
  height: fit-content;
}

.card-item p {
  margin: 0;
  font-size: 18px;
  color: #333;
  font-weight: bold;
}

.btn_cardapio {
  background-color: rgb(75, 26, 114);
  height: 40px;
  width: 80px;
  margin: 30px;
  border-radius: 15px;
  font-size: 15px;
  color: white;
}

.btn_cardapio:hover {
  background-color: rgb(50, 20, 75);
}
